html {
  background: url("res/bg.png");
  background-repeat: repeat;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;

}

.center {
    background-color:rgba(255, 255, 255, 1);
    margin-top: auto;
    border: 2px solid #1b1b1b;
    display:flex;
    flex-direction:column;
    vertical-align:center;
    horiz-align:center;
}

h1 {
    background-color:#1b1b1b;
    color: white;
    background-size: cover;
    margin: 5px;
}

a {
    margin: 3px;
}
