    <!DOCTYPE html>
    <html lang=”en”>
     <head>
      <meta charset=”UTF-8">
      <meta name=”viewport” content=”width=device-width, initial-scale=1.0">
      <meta http-equiv=”X-UA-Compatible” content=”ie=edge”>
	 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
	 <link rel="preconnect" href="https://fonts.googleapis.com">
	 <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <title>Spoilers</title>
     </head>
     <center>
    <div class="center">
      <h1>Spoilers:</h1>
      <a href= {{ spoilerLinkWG }}>Worstgen: {{ spoilerNameWG }} {{ isActiveWG }}</a>
      <br><a href= {{ spoilerLinkPK }}>Pirate-King: {{ spoilerNamePK }} {{ isActivePK }}</a>
      <h1>Latest chapter:</h1>
      <a href={{ chapterLink }}>{{ chapterNumber }}: {{ chapterTitle }}</a>
      <h1>Break: </h1>
      <a href="https://claystage.com/one-piece-chapter-release-schedule-for-2021">{{ currentBreak }} (Predicted)</a>
     </div>
     </center>
     </body>
    </html>