    <!DOCTYPE html>
    <html lang=”en”>
     <head>
      <meta charset=”UTF-8">
      <meta name=”viewport” content=”width=device-width, initial-scale=1.0">
      <meta http-equiv=”X-UA-Compatible” content=”ie=edge”>
      <title>Spoilers</title>
     </head>
     <body>
      <h1>Spoilers:</h1>
      <a href= {{ spoilersLink }}>Pirate-King: {{ spoilersName }}</a>
      <h1>Latest chapter:</h1>
      <a href={{ chapterLink }}>{{ chapterNumber }}: {{ chapterTitle }}</a>
     </body>
    </html>