    <!DOCTYPE html>
    <html lang=”en”>
     <head>
      <meta charset=”UTF-8">
      <meta name=”viewport” content=”width=device-width, initial-scale=1.0">
      <meta http-equiv=”X-UA-Compatible” content=”ie=edge”>
      <title>Spoilers</title>
     </head>
     <body>
      <h1>Spoilers:</h1>
      <p><a href= {{ spoilerLinkWG }}>Worstgen: {{ spoilerNameWG }} {{ isActiveWG }}</a></p>
      <p><a href= {{ spoilerLinkPK }}>Pirate-King: {{ spoilerNamePK }} {{ isActivePK }}</a></p>
      <h1>Latest chapter:</h1>
      <a href={{ chapterLink }}>{{ chapterNumber }}: {{ chapterTitle }}</a>
      <h1>Break: </h1>
      <a>{{ currentBreak }}</a>
     </body>
    </html>